<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default"
        ng-click="mctrl.logggOut()">
        cerrar sesion
      </button>
    </div>
    <div class="col-md-8">
      <add-user>

      </add-user>

      <delete-user>

      </delete-user>
    </div>

    <div class="col-md-4">
      <button class="btn"ng-click="mctrl.select()">Actualizar Datos</button>
      {{mctrl.msg}}
      <table class="table" ng-if="mctrl.isDefine(mctrl.users)">
        <tr>
          <td>ID</td>
          <td>NOMBRE</td>
          <td>APELLIDO</td>
          <td>DOCUMENTO</td>
        </tr>
        <tr ng-repeat="x in mctrl.users">
          <td>{{ x.id }}</td>
          <td>{{ x.fName }}</td>
          <td>{{ x.lName }}</td>
          <td>{{ x.docNumber }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
