<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ctrl.data.title}}</h4>
        <button type="button" class="close" ng-click="ctrl.close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        ¿Seguro que quiere eliminar este trabajo?
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="ctrl.close(false)" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="ctrl.delete()" class="btn btn-primary" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
