<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar: {{ctrl.data.title}}</h4>
        <button type="button" class="close" ng-click="ctrl.close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <ng-form name="editWorkForm">
        <div class="modal-body">
          <div class="row">

            <!-- Título -->
            <div class="col-md-10">
              <div class="form-group">
                <input type="text"
                  class="form-control" id="field"
                  aa-field-group="ctrl.tempWork.title"
                  aa-label="Titulo"
                  required="true">
                </input>
              </div>
            </div>

            <!-- Tipo de trabajo -->
            <div class="col-md-5">
              <div class="input-group">
                <select class="custom-select" id="workType"
                  aa-field-group="ctrl.tempWork.type"
                  aa-label="Tipo de trabajo"
                  required="true">
                  <option ng-repeat="item in ('graduationWorkTypes'|catalog) track by item.id"
                    ng-value="item.id" ng-disabled= "item.id == null">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>

            <!-- Cantidad de estudiantes -->
            <div class="col-md-4">
              <div class="input-group">
                <input type="number" class="form-control" id="workType"
                  min="1"
                  aa-field-group="ctrl.tempWork.students"
                  aa-label="Cantidad de estudiantes"
                  required="true">
                </input>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            ng-click="ctrl.close(false)"
            data-dismiss="modal">Cancelar
          </button>

          <button type="submit" class="btn btn-primary"
            aa-submit-form="ctrl.update(this)"
            data-dismiss="{{ctrl.validateForm(this) ? 'modal':''}}">Aceptar
          </button>
        </div>
      </ng-form>
    </div>
  </div>
</div>
