<header class="header container">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-md-1">
          <img class="utp-logo" title="Universidad Tecnológica de Panamá"
          src="src/img/logo_utp.jpg">
          </img>
        </div>
        <div class="col-md-5 name-and-slogan">
          <div class="site-slogan">
            Camino a la excelencia a través del mejoramiento continuo
          </div>
          <h1 class="site-name">
            <a href="/SiGeTraG" title="Inicio" rel="home">
              <span>Universidad Tecnológica de Panamá</span>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-default">
  <div class="container navigation">
    <ul class="nav navbar-nav">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Conoce la UTP</a></li>
      <li><a href="#">Admisión</a></li>
      <li><a href="#">Investigación</a></li>
      <li><a href="#">Postgrados</a></li>
      <li><a href="#">Facultades</a></li>
      <li id="centros"><a href="#">Centros Regionales</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Internacional</a></li>
      <li><a href="#">Transparencia</a></li>
    </ul>
  </div>
</nav>
