<header class="header container">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-md-1">
          <img class="utp-logo" title="Universidad Tecnológica de Panamá"
            src="src/img/sgtg-logo.png">
          </img>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-default">
  <div class="container navigation">
    <ul class="nav navbar-nav">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nuestra Facultad</a></li>
      <li><a href="#">Oferta Académica</a></li>
      <li><a href="#">Secretarías</a></li>
      <li><a href="#">Departamentos</a></li>
      <li><a href="#">Investigación</a></li>
      <li><a href="#">Servicios</a></li>
    </ul>
  </div>
</nav>
