<!DOCTYPE html>
<html ng-app="EjemploProfe">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	   <!-- Incluir Bootstrap -->
	   <!-- Latest compiled and minified CSS -->
	   <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

	   <!-- jQuery library -->
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	   <!-- Latest compiled JavaScript -->
	   <script src="js/lib/bootstrap.min.js"></script>

	   <!-- Hojas de estilo propias -->
	   <link rel="stylesheet" type="text/css" href="css/image.css">
	   <link rel="stylesheet" type="text/css" href="css/text.css">
	   <link rel="stylesheet" type="text/css" href="css/grids.css">

	   <!-- Incluir librería angular -->
	   <script src="js/lib/angular.min.js"></script>
	   <script src="js/ejemplo-controller.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h1>Filtros </h1>
					<h4>en Angulas js</h4>
					<hr>
					<p>
						Filtros de texto: {{"FeRnaNdO"}}<br>
						upper: {{"FeRnaNdO" | uppercase}} <br>
						lower: {{"FeRnaNdO" | lowercase}} <br>
					</p>
					<p>
						Filtro de dinero: {{"3578.325"}} <br>
						Default: {{"3578.325" | currency}} <br>
						Personalizado: {{"3578.325" | currency:'BTC '}} <br>
						Sin símbolo: {{"3578.325" | currency:''}} <br>
					</p>
				</div>
				<div class="col-6">
					<h1>Ng Model </h1>
					<h4>en Angulas js</h4>
					<hr>
					<p>
						Mi nombre es: {{name | uppercase}}<br>
						<input type="text" ng-model="name" placeholder="Escribe tu nombre"><br>
						lower: {{"FeRnaNdO" | lowercase}} <br>
					</p>
					<p>
						Mi país es: {{country}} <br>
						<select class="form-control" ng-model="country">
							<option value="PTY">Panamá</option>
							<option value="CR">Costa Rica</option>
							<option value="USA">Estados Unidos</option>
						</select>
					</p>
					<p>
					<div class="row">
						<div class="col-6">
							Me gusta <br>
							<input type="checkbox" value="Futbol" ng-model="hobby1">Futbol: </input>{{hobby1}}<br>
							<input type="checkbox" value="música" ng-model="hobby2">Música: </input>{{hobby2}}<br>
							<input type="checkbox" value="dibujo" ng-model="hobby3">Dibujar: </input>{{hobby3}}<br>
						</div>
						<div class="col-6">
							Mi Género es: {{gender}} <br>
							<input type="radio" value="M" ng-model="gender">Masculino
							<input type="radio" value="F" ng-model="gender">Femenino
						</div>
					</div>
					</p>
				</div>
			</div>
		</div>

		<div class="container" ng-controller="profeController as ctrl">
			<h1>Profesor</h1>
			<h4>{{ctrl.profe.nombre}}</h4>
			<hr>
			<div class="row">
		    <!-- Div que contiene la imagen del profesor -->
		    <div class="col-sm-3">
		        <section class="panel">
		            <div class="panel-body" align="center">
		                <img ng-src="{{ctrl.profe.foto}}" class="img-circle" alt="" width="150px" height="150px">
		            </div>
		        </section>
		    </div>

		    <!-- Div, donde se mostrará la bio del profesor -->
		    <div class="col-sm-9">
		        <section class="panel">
		            <div class="panel-body">
		                {{ctrl.profe.bio}}
		                <br>
		                <br>
		                <strong>Edad:</strong> {{ctrl.profe.edad}} años
		            </div>
		        </section>
		    </div>
			</div>
		</div>
	</body>

</html>
