.submit-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-outline-primary{
  color: $utp-main-color;
  border-color: $utp-main-color;
}

.btn-tab{
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  color: $utp-main-color;
  border-color: $utp-main-color;
}

.md-button.md-raised.md-primary{
  background-color:$utp-main-color !important;
  color:$utp-white;
}

md-dialog{
  .md-toolbar-tools .md-button{
    color: $utp-white;
    height: 27px !important;
    font-size: 20px;
    border-left: solid;
    border-radius: 0% !important;
    padding: 0px 0px 0px 0px !important;
    border-bottom: solid;
    margin-bottom: 17px !important;
    width: 55px !important;
  }

  &.modal-sm{
    .md-toolbar-tools .md-button{
      margin-left: 5% !important;
    }
  }
}