footer{
  background-color: $utp-footer-background;
  height: 135px;
  padding: 12px;
}
.footer-guia{
  padding: 15px;
  font-size: 14px;
}

.footer-info{
  background-image: url("../../src/img/logo-footer.png");
  background-repeat: no-repeat;
  color: #9a9999;
  font-size: 11px;
  padding-left: 90px;
  padding-top: 11px;
}

.footer-interest{
  text-align: right;
}
