body {
  height: fit-content;
}
.info{
  cursor: pointer;
  color: $utp-main-color;
}

.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

.no-focus-shaddow:focus{
  outline: none;
}

.overflow-y{
  overflow-y: scroll;
}