body{
background-color: $utp-white;
}

.flex{
  padding-left: 15px;
  padding-right: 15px
}

@for $i from 1 to 100 {
  .flex-#{$i}{
    padding-left: 15px;
    padding-right: 15px
  }
}

.layout-row{
  margin-left: -15px;
  margin-right: -15px
}

.master-view{
  min-height: 450px;
}

.md-nav-bar{
  background-color: $utp-main-color !important;

  span{
    color: $utp-white;
  }
  .md-active{
    span{ 
    font-weight: bold;
  }
  }
  md-nav-ink-bar{
    background: $utp-white;
  }
}

td.work-item:hover{
  background-color: $utp-item-hover;
  cursor: pointer;
}

.navbar-nav{
  min-width: 100.5%;
}

.container{
  .navigation{
    margin-left: 87px;
    margin-right: 87px;
    padding: 0px;
  }
}

.center-block {
  float: none;
}

.form-inline-mixed{
  width: 100%;
  height: 80px;
}

.faculty-tabs{
  background-color: $utp-prueba-color;
  min-height: 10px;
  min-width: 10px;
}

.center-col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

td .far{
  width: 24%;
  margin-bottom: -6%;
  margin-left: 17%;
  cursor: pointer;
}

.hand-hover:hover{
  background-color: $utp-item-hover;
  cursor: pointer;
}
