
.md-errors-spacer{
  display: none;
}

/********* INPUT *********/

md-input-container {
  label {
    color: $utp-main-color;
  }

  &:not(.md-input-invalid).md-input-has-value label{
    color: $utp-main-color;
  }
}


/********* RADIO *********/

md-radio-button{

  .md-on{
    background-color: $utp-main-color;
  }

  &.md-checked {

    .md-off {
      border-color: $utp-main-color;
    }

    .md-ink-ripple{
      color: $utp-main-color-transparent
    }
  }
}

/********* SELECT *********/

.custom-select {
  padding: 0rem 1.75rem 0rem 0.75rem;
  height: calc(1.5rem + 10px);
}

/********* DROPDOWN *********/

.dropdown{
  margin-top: 20%;

  .dropdown-item{
    border-style: solid;
    border-color: $utp-main-color;
    border-width: 0px 1px 1px 0px;


    &:hover{
      background-color: $utp-item-hover;
      cursor: pointer;
    }

    &.active{
      background-color: $utp-main-color;
      color: white;
    }
  }
}