.md-errors-spacer {
  display: none;
}

/********* INPUT *********/

md-input-container {
  margin-bottom: 0px;

  label {
    color: $utp-main-color;
  }

  &:not(.md-input-invalid).md-input-has-value label {
    color: $utp-main-color;
  }

  &.aa-invalid-attempt label {
    color: $utp-red;
  }
}


/********* RADIO *********/

md-radio-button {

  .md-on {
    background-color: $utp-main-color;
  }

  &.md-checked {

    .md-off {
      border-color: $utp-main-color;
    }

    .md-ink-ripple {
      color: $utp-main-color-transparent
    }
  }
}

/********* SELECT *********/
md-select {
  margin: 0px !important;
  .md-select-value.md-select-placeholder {
    color: $utp-main-color;
  }
}

/********* DROPDOWN *********/

.sidenav-adviser {
  margin-top: 20%;

  .sidenav-item {
    border-style: solid;
    border-color: $utp-main-color;
    border-width: 0px 1px 1px 0px;


    &:hover {
      background-color: $utp-item-hover;
      cursor: pointer;
    }

    &.active {
      background-color: $utp-main-color;
      color: white;
    }
  }
}