.modal-dialog {
  width: 700px;
  margin: 1.75rem auto;
}

.modal-lg {
  max-width: 900px;
}

.modal-sm {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

md-toolbar{
  background-color: $utp-main-color !important;
  h2{
    color:$utp-white
  }
}

md-dialog{
  top:-7%;
  position: fixed;
  background-color: $utp-white;

  &.md-content-overflow md-dialog-actions{
    border-top-style: none !important;
  }

}