@include font-face("GothicRegular", "../../fonts/GOTHIC",null,null,ttf);
@include font-face("Monterey", "../../fonts/monterey/MontereyFLF",null,null,ttf);
@include font-face("Titillium", "../../fonts/titillium-web/TitilliumWeb-Regular",null,null,ttf);

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: "Titillium";
  font-weight: bold !important;
  color: $utp-main-color;
}

button, select, html, textarea, input {
  font-family: "Titillium", "Helvetica Neue", sans-serif !important;
}

button, select, textarea {
  font-weight: bold !important;
}

.name-and-slogan {
  margin-top: 30px;
  margin-left: 8px;
}
.site-slogan {
  font-family: "Titillium";
  font-size: 14px;
  a {
    color: $utp-black;
  }
}

.site-name {
  font-family: "Titillium";
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  line-height: 1.3em;
}

.site-title{
  font-family: "Titillium";
}

.message-result{
  color: $utp-skyblue;
}
.mensaje-error{
  color: $utp-red;
  font-size: 12px;
}

.title-text{
  margin-top: 1%;
  margin-bottom: 2%;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.text-start{
  text-align: start;
}

.viewPassword{
  
  &::before {
    font-size: large;
    color:$utp-main-color;
  }
}

.text-muted {
  color: $gray !important;
}