@import url(../../node_modules/font-awesome/css/font-awesome.css);
/*--------TEXTS--------*/
/*-------ALERTS--------*/
.info {
  cursor: pointer;
  color: #004198; }

/*
 * ALERTAS
 */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }
  .alert-success hr {
    border-top-color: #c9e2b3; }
  .alert-success .icon {
    color: #d6e9c6;
    font-size: 24px; }
  .alert-success .alert-link {
    color: #004198;
    padding-left: 20px;
    text-align: left; }
  .alert-success p {
    color: #586770;
    font-weight: 500; }
  .alert-success div {
    font-weight: 500; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f; }
  .alert-info hr {
    border-top-color: #a6e1ec; }
  .alert-info .icon {
    color: #bce8f1;
    font-size: 24px; }
  .alert-info .alert-link {
    color: #004198;
    padding-left: 20px;
    text-align: left; }
  .alert-info p {
    color: #586770;
    font-weight: 500; }
  .alert-info div {
    font-weight: 500; }

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }
  .alert-warning hr {
    border-top-color: #f7e1b5; }
  .alert-warning .icon {
    color: #faebcc;
    font-size: 24px; }
  .alert-warning .alert-link {
    color: #004198;
    padding-left: 20px;
    text-align: left; }
  .alert-warning p {
    color: #586770;
    font-weight: 500; }
  .alert-warning div {
    font-weight: 500; }

.alert-danger {
  background-color: #feedf2;
  border-color: #fdd5e7;
  color: #a94442; }
  .alert-danger hr {
    border-top-color: #fbbdda; }
  .alert-danger .icon {
    color: #fdd5e7;
    font-size: 24px; }
  .alert-danger .alert-link {
    color: #004198;
    padding-left: 20px;
    text-align: left; }
  .alert-danger p {
    color: #586770;
    font-weight: 500; }
  .alert-danger div {
    font-weight: 500; }

.submit-btn {
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-outline-primary {
  color: #004198;
  border-color: #004198; }

.btn-tab {
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  color: #004198;
  border-color: #004198; }

footer {
  background-color: #001129;
  height: 135px;
  padding: 12px; }

.footer-guia {
  padding: 15px;
  font-size: 14px; }

.footer-info {
  background-image: url("../../src/img/logo-footer.png");
  background-repeat: no-repeat;
  color: #9a9999;
  font-size: 11px;
  padding-left: 90px;
  padding-top: 11px; }

.footer-interest {
  text-align: right; }

.master-view {
  min-height: 450px; }

.navbar {
  background-color: #004198;
  max-height: 40px;
  border-radius: 0px;
  border: 0px; }
  .navbar li {
    max-height: 40px;
    width: 14.15%; }
    .navbar li:hover {
      background-color: #002d6a; }

td.work-item:hover {
  background-color: #ddeafc;
  cursor: pointer; }

.navbar-nav {
  min-width: 100.5%; }

.container .navigation {
  margin-left: 87px;
  margin-right: 87px;
  padding: 0px; }

.center-block {
  float: none; }

.form-inline-mixed {
  width: 100%;
  height: 80px; }

.faculty-tabs {
  background-color: #00a232;
  min-height: 10px;
  min-width: 10px; }

.center-col {
  float: none !important;
  margin-left: auto;
  margin-right: auto; }

td .far {
  width: 24%;
  margin-bottom: -6%;
  margin-left: 17%;
  cursor: pointer; }

.hand-hover:hover {
  background-color: #ddeafc;
  cursor: pointer; }

.utp-logo {
  width: 300px;
  height: 90px; }

.utp-building {
  width: 75%;
  height: 85%; }

.input-icon {
  padding-left: 0%;
  margin-right: 10px;
  margin-left: -10px; }
  .input-icon i {
    color: #004198;
    margin-top: 42px; }

.utp-login {
  padding: 10px;
  box-shadow: 0px 1px 8px rgba(0, 56, 255, 0.38);
  margin-bottom: 20px; }

@font-face {
  font-family: "GothicRegular";
  src: url("../../fonts/GOTHIC.ttf") format("truetype"); }
@font-face {
  font-family: "Monterey";
  src: url("../../fonts/monterey/MontereyFLF.ttf") format("truetype"); }
@font-face {
  font-family: "Titillium";
  src: url("../../fonts/titillium-web/TitilliumWeb-Regular.ttf") format("truetype"); }
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Titillium";
  font-weight: bold;
  color: #004198; }

.name-and-slogan {
  margin-top: 30px;
  margin-left: 8px; }

.site-slogan {
  font-family: "Titillium";
  font-size: 14px; }
  .site-slogan a {
    color: #000; }

.site-name {
  font-family: "Titillium";
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  line-height: 1.3em; }

.site-title {
  font-family: "Titillium"; }

.harlow {
  font-family: "Titillium"; }

.navbar-nav a {
  font-family: "Titillium";
  color: white !important;
  font-size: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-weight: bold;
  text-align: center; }

.message-result {
  color: #2b94b3; }

.mensaje-error {
  color: #ff0000;
  font-size: 12px; }

.title-text {
  margin-top: 1%;
  margin-bottom: 2%; }

input[required] {
  background-color: #fffddd; }
  input[required].ng-valid-required {
    background-color: #ffffff; }

textarea[required] {
  background-color: #fffddd; }
  textarea[required].ng-valid-required {
    background-color: #ffffff; }

select[required] {
  background-color: #fffddd; }
  select[required].ng-valid-required {
    background-color: #ffffff; }
select option {
  background-color: #ffffff; }

#loader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: #ffffff;
  opacity: 0.6; }

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  position: sticky;
  top: 30%;
  animation: utpLoader 0.7s linear infinite;
  -webkit-animation: utpLoaderPulse 0.7s  linear infinite; }

@keyframes utpLoader {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@-webkit-keyframes utpLoader {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes utpLoaderPulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }
@-webkit-keyframes utpLoaderPulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }
.utp-loader {
  width: 150px;
  height: 150px; }

#message-content {
  position: fixed;
  margin-left: 76%;
  z-index: 5000; }

.message-container {
  display: block;
  border: 2px solid;
  margin-left: auto;
  margin-right: 1%;
  width: 300px;
  height: fit-content;
  position: relative;
  animation: msgOpacity 1s linear infinite;
  animation-delay: 3s; }
  .message-container p, .message-container div.row {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 0px;
    margin-left: 0px; }

@keyframes msgOpacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes msgOpacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#alert {
  position: absolute;
  width: 15%;
  height: 15%;
  margin-left: 85%;
  padding-top: 7px; }

input,
button,
select {
  font-size: 94% !important; }

.custom-select {
  padding: 0rem 1.75rem 0rem 0.75rem;
  height: calc(1.5rem + 10px); }

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  height: 15px;
  width: 15px;
  border: 1px solid #0064A8;
  cursor: default;
  border-radius: 15px; }
  input[type="radio"]:checked:before {
    content: "\f111";
    color: #0064A8;
    font-size: 11px;
    margin-left: 2px;
    margin-top: -1px;
    position: absolute;
    font-family: 'FontAwesome'; }

.modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto; }

.modal-lg {
  max-width: 900px; }

.modal-sm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }

.dropdown {
  margin-top: 20%; }
  .dropdown .dropdown-item {
    border-style: solid;
    border-color: #004198;
    border-width: 0px 1px 1px 0px; }
    .dropdown .dropdown-item:hover {
      background-color: #ddeafc;
      cursor: pointer; }
    .dropdown .dropdown-item.active {
      background-color: #004198;
      color: white; }

.popover {
  max-width: 500px !important; }
  .popover.bs-popover-left {
    top: 30px !important; }
    .popover.bs-popover-left .arrow {
      top: 7px !important; }

/*# sourceMappingURL=styles.css.map */
