.master-view{
  min-height: 450px;
}
.navbar{
  background-color: $utp-main-color;
  max-height: 40px;
  border-radius: 0px;
  border: 0px;
  li{
    max-height: 40px;
    width: 14.15%;
  }
  li:hover{
    background-color: $utp-main-color-active;
  }
}
.works-cards{
  min-width: 100%;
}
div.card-body.work-item:hover{
  background-color: #ddeafc;
  cursor: pointer;
}

.navbar-nav{
  min-width: 100.5%;
}

.container{
  .navigation{
    margin-left: 87px;
    margin-right: 87px;
    padding: 0px;
  }
  .header{
    min-height: 112px;
    min-width: 1175px;
  }
}


.center-block {
  float: none;
}

.form-inline-mixed{
  width: 100%;
  height: 80px;
}

.faculty-tabs{
  background-color: $utp-prueba-color;
  min-height: 10px;
  min-width: 10px;
}
