.submit-btn {
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-outline-primary {
  color: #004198;
  border-color: #004198; }

footer {
  background-color: #001129;
  height: 135px;
  padding: 12px; }

.footer-guia {
  padding: 15px;
  font-size: 14px; }

.footer-info {
  background-image: url("../../src/img/logo-footer.png");
  background-repeat: no-repeat;
  color: #9a9999;
  font-size: 11px;
  padding-left: 90px;
  padding-top: 11px; }

.footer-interest {
  text-align: right; }

.navbar {
  background-color: #004198;
  min-height: 40px;
  border-radius: 0px;
  border: 0px; }
  .navbar li {
    max-height: 40px;
    width: 14.15%; }
  .navbar li:hover {
    background-color: #002d6a; }

.navbar-nav {
  min-width: 100.5%; }

.container .navigation {
  margin-left: 87px;
  margin-right: 87px;
  padding: 0px; }
.container .header {
  min-height: 112px;
  min-width: 1175px; }

.center-block {
  float: none; }

.form-inline-mixed {
  width: 100%;
  height: 80px; }

.faculty-tabs {
  background-color: #00a232;
  min-height: 10px;
  min-width: 10px; }

.utp-logo {
  width: 308px;
  height: 97px; }

.utp-login {
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 56, 255, 0.38);
  margin-bottom: 20px; }

@font-face {
  font-family: "GothicRegular";
  src: url("../../fonts/GOTHIC.ttf") format("truetype"); }
@font-face {
  font-family: "Monterey";
  src: url("../../fonts/monterey/MontereyFLF.ttf") format("truetype"); }
@font-face {
  font-family: "Titillium";
  src: url("../../fonts/titillium-web/TitilliumWeb-Regular.ttf") format("truetype"); }
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Titillium";
  font-weight: bold;
  color: #004198; }

.name-and-slogan {
  margin-top: 30px;
  margin-left: 8px; }

.site-slogan {
  font-family: "Titillium";
  font-size: 14px; }
  .site-slogan a {
    color: #000; }

.site-name {
  font-family: "Titillium";
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  line-height: 1.3em; }

.site-title {
  font-family: "Titillium"; }

.harlow {
  font-family: "Titillium"; }

.navbar-nav a {
  font-family: "Titillium";
  color: white !important;
  font-size: 13px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center; }

.mensaje-error {
  color: #ff0000;
  font-size: 12px; }

input[required] {
  background-color: #fffddd; }
  input[required].ng-valid-required {
    background-color: #ffffff; }

select[required] {
  background-color: #fffddd; }
  select[required].ng-valid-required {
    background-color: #ffffff; }
select option {
  background-color: #ffffff; }

#loader-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: #ffffff;
  opacity: 0.6; }

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  position: sticky;
  top: 30%;
  animation: utpLoader 0.7s linear infinite;
  -webkit-animation: utpLoaderPulse 0.7s  linear infinite; }

.utp-loader {
  width: 150px;
  height: 150px; }

@keyframes utpLoader {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@-webkit-keyframes utpLoader {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes utpLoaderPulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }
@-webkit-keyframes utpLoaderPulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }
#alert {
  position: absolute;
  width: 15%;
  height: 15%;
  margin-left: 85%;
  padding-top: 7px; }

input,
button,
select {
  font-size: 94% !important; }

.custom-select {
  padding: 0rem 1.75rem 0rem 0.75rem;
  height: calc(1.5rem + 10px); }

/*# sourceMappingURL=styles.css.map */
